<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>Scene Configuration</key>
	<string></string>
	<key>Application Session Role</key>
	<dict/>
	<key>Item 0</key>
	<dict/>
	<key>UIWindowSceneSessionRoleApplication</key>
	<dict>
		<key>Storyboard</key>
		<string>Main</string>
		<key>Main</key>
		<string></string>
	</dict>
</dict>
</plist>
